@font-face {
  font-family: "M_Bold";
  src: url("./Montserrat/Montserrat-Bold.ttf");
}

@font-face {
  font-family: "M_Regular";
  src: url("./Montserrat/Montserrat-Regular.ttf");
}

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "M_Regular";
}

.header {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  display: inline-block;
  text-align: center;
}

.nav__item {
  display: inline-block;
  padding-left: 70px;
  font-weight: bold;
  color: red;
  font-family: "M_Bold";
}

.nav__item-link {
  color: red;
  text-decoration: none;
  font-family: "M_Bold";
  font-weight: bold;
}

.nav__item-link:hover {
  background-color: white;
  color: black;
}

.main {
  display: inline-block;
  text-align: center;
}

.main__image {
  width: 100%;
  display: block;
}

.main__title {
  padding-top: 35px;
  font-weight: 700;
  font-size: 45px;
  font-family: "M_Bold";
}

.main__texts {
  padding-top: 35px;
  text-indent: 50px;
  display: inline-block;
  text-align: center;
  width: 70%;
}

.main__text-1 {
  font-weight: 400;
  line-height: 1.5;
}

.main__text-2 {
  font-weight: 400;
  line-height: 1.5;
  padding-top: 40px;
}

.main__btn-wrapper {
  padding-top: 60px;
}

.main__btn {
  padding: 17px 60px 17px 60px;
  font-weight: 700;
  background-color: red;
  color: white;
  border-color: red;
  border-width: 2px;
  border-radius: 7px;
  text-decoration: none;
  cursor: pointer;
}

.main__btn:hover {
  color: red;
  background-color: white;
  transition: 500ms;
}

.footer__copyright {
  text-align: right;
  margin: 50px 15px 10px 0;
  font-weight: 700;
}
